@{
    var token = Context.Session.GetString("jwtToken");
}

@if (!string.IsNullOrEmpty(token))
{
    <div>
        <p>Welcome, User!</p>
        <a href="/Account/Logout" class="btn btn-secondary btn-sm">Logout</a>
    </div>
}
else
{
    <div>
        <a href="/Account/Login" class="btn btn-primary btn-sm">Login</a>
        <a href="/Account/Register" class="btn btn-secondary btn-sm">Register</a>
    </div>
}
