@model IEnumerable<OnlineKurs.Shared.Models.Courses>

<h2>All Courses</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Title</td>
                <td>@course.Description</td>
                <td>
                    <a href="/Courses/Details/@course.Id" class="btn btn-info">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

