<form method="post" action="/Home/FirstPage">
    <label for="userInput">Enter some input:</label>
    <input type="text" id="userInput" name="input" class="form-control" required>
    <button type="submit" class="btn btn-primary mt-2">Submit</button>
</form>
